body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4D897C;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

header .logo {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem; /* Adjusted font size for better readability on mobile */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px; /* Increased margin for better spacing on mobile */
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem; /* Adjusted font size for better readability on mobile */
}

main {
    padding: 1rem; /* Reduced padding for better content visibility on mobile */
    flex: 1;
}

main a {
    color: #4D897C;
}

main p a {
    color: #f71515;
}

footer {
    background-color: #4D897C;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    header .logo {
        height: 60px; 
    }

    header h1 {
        font-size: 1.2rem; 
    }

    header nav ul li {
        margin: 0 5px; 
    }

    header nav ul li a {
        font-size: 0.8rem; 
    }

    main {
        padding: 0.5rem; 
    }
}
